body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color:green;
    letter-spacing: 2mm;
    text-align: center;
}
span{
    color:peru;
}
div{

    float:left;
    padding:10px;
}
ul li {
    list-style-type: none;
    background:greenyellow;
    color: black;
    margin: 5px;
    text-align: center;
    width: 120px;
    height: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.1);
}
.inicio{
    background: peru;
}
.texto{
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative; 
    width: 80%;
}
h2{
    color: yellowgreen;
}
h3{
    color:peru;
}
hr{
    margin-top: -20px;
    border-color: rgba(0, 0, 0, 0.1);
}